<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-title>-->
<!--      Hunde-Trainer-->
<!--    </ion-title>-->
<!--    <ion-buttons slot="end">-->
<!--      <ion-button *ngIf="isEncrypt" id="popover-encrypt" >-->
<!--        <ion-icon  slot="icon-only" color="dark" name="ellipsis-vertical"></ion-icon>-->
<!--      </ion-button>-->
<!--      <ion-popover trigger="popover-encrypt" [dismissOnSelect]="true" side="bottom">-->
<!--        <ng-template>-->
<!--          <ion-content>-->
<!--            <ion-list>-->
<!--              <ion-item button detail="false" (click)="setPassphrase()">Passphrase</ion-item>-->
<!--              <ion-item button detail="false" (click)="dbEncryption()">Encryption</ion-item>-->
<!--            </ion-list>-->
<!--          </ion-content>-->
<!--        </ng-template>-->
<!--      </ion-popover>-->
<!--      <ion-button *ngIf="isAndroid" (click)="exitApp()">-->
<!--        <ion-icon slot="icon-only" color="danger" name="exit-outline"></ion-icon>-->
<!--      </ion-button>-->
<!--    </ion-buttons>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content scroll-y="true"> [scrollEvents]="true" [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hunde-Trainer</ion-title>
      <ion-buttons slot="end">
        <ion-button *ngIf="isAndroid" (click)="exitApp()">
          <ion-icon slot="icon-only" color="danger" name="exit-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      </ion-toolbar>
  </ion-header>

  <div id="container">

    <general-search></general-search>
  </div>
</ion-content>
