  <ion-list [inset]="true">
    <ion-item *ngFor="let termin of termine">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-start">
            <span>{{termin.datum}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-end">
            <ion-button (click)="editAppointment(termin.id)">
              <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteAppointment(termin)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-card color="light" style="width: 100%">
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>Amnese</ion-label>
              <span>{{termin.amnese}}</span>
            </ion-item>
            <ion-item>
              <ion-label>Prozess</ion-label>
              <span>{{termin.process}}</span>
            </ion-item>
            <ion-item>
              <ion-label>Sonstiges</ion-label>
              <span>{{termin.sonstiges}}</span>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
